@import './reset';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,700&display=swap');

*{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-style: normal;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
a {
    text-decoration: unset;
    color: unset;
}

.none {
    display: none !important;
}

/* Cлайдер */

/* Точки */

.slick-dots {
    bottom: -70px;

    & li {
        width: 34px;
        height: 34px;
        border-radius: 50%;
        border: 1px solid transparent;
        transition: all 0.4s ease;
        
        & button::before{
            opacity: 1;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    }

    & li.slick-active {
        border: 1px solid #62B944;
    }
}

/* Настройки для слайдера на темном фоне */
.black-section .slick-dots {

    & li.slick-active {
        border: 1px solid #1A6CB5;

        & button::before{
            color: white;
         }
    }

    & button::before{
        color: white;
     }

}

/* Слайдер с цифрами вместо точек */

.gallery .slick-dots button{
    color: black;
    font-size: 16px;
    width: 34px;
    height: 34px;
    &::before {
        content: "";
    }
}



/* Стрелки слайдера */

.slider-arrows {
    position: relative;
    display: flex;
    gap: 8px;
}

.slick-prev, .slick-next {
    position: absolute;
    left: unset;
    top: unset;
    bottom: -80px;
    width: 60px;
    height: 60px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid #62B944;

    &:hover {
        background-color: #62B944 !important;
    }
    &::before {
        content: " ";
        
    }
}

.slick-prev {
    
    right: 100px;
    background: no-repeat center url('../img/main__arrow-prev.svg');

    &:hover, &:focus {
        color: unset;
        background: no-repeat center url('../img/main__arrow-prev.svg');
    }
}

.slick-next {
    background: no-repeat center url('../img/main__arrow-next.svg');
    right: 20px;

    &:hover, &:focus {
        color: unset;
        background: no-repeat center url('../img/main__arrow-next.svg');
    }
}


/* Cтрелки слайдера на темном фоне */


.black-section .slick-prev {
    background: no-repeat center url('../img/main__slider-prev-white.svg');
    border: 1px solid white !important;
    &:hover, &:focus {
        background: no-repeat center url('../img/main__slider-prev-white.svg');
    }

}

.black-section .slick-next {
    background: no-repeat center url('../img/main__slider-next-white.svg');
    border: 1px solid white !important;
    &:hover, &:focus {
        background: no-repeat center url('../img/main__slider-next-white.svg');
    }

}

/* Общие блоки */

.container {
    margin: 0 auto;
    max-width: 1920px;
    padding: 0 50px;

    &_1630{
        max-width: 1630px;
    }
    &_left {
        max-width: unset;
        padding: 0;
        margin: 0;
    }

    &_right{
        max-width: unset;
        padding: 0 !important;
        margin: 0;
    }

    &_product {
        padding-left: 0;
    }
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__logo {
        width: 300px;
    }

    &__menu {
        display: flex;
        align-items: center;
        gap: 20px;
    }

    &__menu-item {
        padding: 8px 16px;
        font-weight: 500;
        font-size: 16px;
        line-height: 18px;
        border-radius: 2px 15px 2px 2px;
        transition: background 0.2s linear;

        &:hover{
            background-color: #62B944;
            
        }
    }

    &__menu-item_white {
        &:hover {
            color: #FFF;
        }
    }

    &__burger-icon {
        width: 45px;
        cursor: pointer;
    }
}

.title-h2 {
    color: #1D1D1B;
    font-family: Montserrat;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; /* 125% */
    text-transform: uppercase;

    &_white{
        color: white;
    }
}

.title-h2-wrapper{
   
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 60px;
    gap: 40px;

    &__see-more {
        color: #1A6CB5;
        font-size: 20px;
        font-weight: 500;
        line-height: 40px;
        min-width: max-content;
        &:hover {
            color: #18609F;
        }
        &_green {
            color: #62B944;

            &:hover {
                color: #59aa3e;
            }
        }
    }
}

.black-section {
    background-color: #1D1D1B;
}


/* Главная страница */
.container-first-window {
    margin: 0 auto;
    max-width: 1920px;
    padding: 20px 50px 0 50px;
}
.first__window-backround {
    height: 100vh;
    background-color: #62B944;
}
.first-window {
    /* background: no-repeat url(../img/main__first-window-bg.jpg);
    background-size: cover; */
    height: 100vh;
    color: #FFF;
    border-radius: 0px 0px 10vw 0px;
    text-align: center;
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    &::after {
        content: "";
        background: rgba(0, 0, 0, 0.35);
        height: inherit;
        width: inherit;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 0;
    }

    &__video{
        min-width: 100%;
        min-height: 100%;
    }

    &__header {
        position: absolute;
        top: 20px;
        max-width: 1920px;
        padding: 0 50px;
        gap: 40px;
        z-index: 1;
    }


    &__content {
        z-index: 1;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: max-content;
    }

    &__title {
        text-align: center;
        font-size: 60px;
        font-weight: 700;
        line-height: 98px; 
        text-transform: uppercase;
        margin-bottom: 30px;
    }

    &__title-img {
        border-radius: 0px 0px 30px 0px;
        margin: 0 30px;
        padding-top: 10px;
    }

    &__logo-atlantica {
        width: 212px;
    }
}


.welcome-agromir {
    text-align: center;
    margin-bottom: 120px;
    

    &__bg {
        background-color: #62B944;
        margin-left: 4vw;
        display: flex;
        align-items: center;
        border-radius: 0 0 0 10vw;
    }

    &__title {
        padding-top: 146px;
        color: #FFF;
        font-size: 23px;
        font-weight: 700;
        line-height: 28px;
        margin-bottom: 17px;
    }

    &__text {
        color: #000;       
        font-size: 29px;
        font-weight: 400;
        line-height: 40px; /* 137.931% */
        margin-bottom: 150px;
        max-width: 1115px;
    }

    &__img {
        width: 597px;
    }
}

.consultation {
    background-color: #EAEAEA;
    margin-bottom: 120px;
    &__bg {
        background: no-repeat url('../img/main__agroconsultation-bg.svg');
        background-position: center;
        background-size: cover;
        padding: 76px 0;
    }

    &__wrapper {
        max-width: 940px;
        margin: 0 auto;
    }

    &__title {
        text-align: center;
        color: #1D1D1B;
        text-align: center;
        font-size: 24px;
        font-weight: 700;
        line-height: 40px;
        text-transform: uppercase;
        margin-bottom: 30px;
    }

    &__form {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        gap: 40px;
    }

    &__form-wrapper {
        display: flex;
        flex-direction: column;
        gap: 23px;
        width: 50%;
    }

    &__input {
        height: 56px;
        background-color: #FFF;
        border-radius: 0 0 60px 0;
        padding: 16px 40px 16px 20px;

        color: #656565;
        font-size: 17px;
        font-weight: 400;
        line-height: 28px; /* 164.706% */
    }

    &__privacy {
        color: #656565;
        font-size: 12px;
        font-weight: 400;
        line-height: 20px;
    }

    &__privacy_mobile {
        display: none;
    }

    &__privacy-link {
        color: #1A6CB5;
        text-decoration: underline !important;
    }

    &__btn {
        border-radius: 0px 0px 19.2px 0px;
        height: 56px;
        background: #62B944;
        color: #FFF;
        font-size: 17px;
        line-height: 28px; /* 164.706% */
        display: flex;
        align-items: center;
        justify-content: center;
        transition: background 0.2s linear;

        &:hover{
            background: #509837;
        }
    }

    &__btn-img {
        padding-left: 20px;
    }
}


.advantages {
    margin-bottom: 120px;

    &__title {
        margin-bottom: 50px;
    }

    &__cards {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        gap: 40px;
        flex-wrap: wrap;
    }

    &__card {
        max-width: 350px;
        flex: 0 0 auto;
    }

    &__card-img {
        width: 129px;
        margin-bottom: 20px;
    }

    &__card-title {
        color: #62B944;
        font-size: 20px;
        font-weight: 600;
        line-height: 32px; /* 160% */
        margin-bottom: 15px;
    }

    &__card-text {
        color: #292927;
        font-size: 15px;
        font-weight: 400;
        line-height: 24px; /* 160% */
    }
}

.system-nutrition {
    margin-bottom: 150px;

    &__title-wrapper{
        padding-top: 150px;
    }

    &__cards {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 30px;
    }

    &__card:hover &__card-img-wrapper{
        background: #1B1B1B; 
    }

    &__card-img-wrapper {
        border-radius: 0px 5vw;
        background: #272727;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 37px;
        margin-bottom: 50px;
        transition: background 0.2s ease-in;
    }


    &__card-img {
        width: 512px;
        
    }

    &__card-title {
        color: #FFF;
        text-align: center;
        font-size: 24px;
        font-weight: 500;
        line-height: 40px; /* 166.667% */
    }
}

.recommendations {
    margin-bottom: 150px;
    position: relative;

    &__card {
        padding: 30px;
        background-color: #F6F6F6;
        margin-right: 20px;
        width: calc(26vw + 7px);
        border-radius: 0 5vw 0 0;
        position: relative;

        &::after {
            content: "";
            display: block;
            position: absolute;
            bottom: 0px;
            left: 0px;
            width: 100%;
            height: 0px;
            max-height: 0px;
            background: #62B944;
            transition: all 0.4s ease;
        }

        &:hover::after{
            height: 15px;
            max-height: 15px;
        }
    }

    &__card-subtitle {
        color: #62B944;
        font-size: 16px;
        font-weight: 400;
        line-height: 26px; /* 162.5% */
    }

    &__card-title {
        color: #292927;
        font-size: 33px;
        font-weight: 400;
        line-height: 40px; /* 121.212% */
        margin-bottom: 23px;
        height: 80px;
    }

    &__card-img {
        display: block;
        margin: 0 auto;
    }
}

.news {
    margin-bottom: 170px;

    &__card {
        width: 30vw;
        height: 30vw;
        position: relative;
        margin-right: 30px;
        transition: border-radius 0.1s ease-in;
        &:hover {
            border-radius: 0 0 0 5vw;
        }

        &:hover .news__card-photo {
            border-radius: 0 5vw 0 5vw;
        }

        &::before{
            position: absolute;
            bottom: -1px;
            left: -1px;
            height: 70%;
            background: rgb(2,0,36);
            background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, #000 100%);
            content: '';
            width: calc(100% + 2px);
            z-index: 1;
            border-radius: inherit;
        }
    }

    &__card-title-wrapper{
        position: absolute;
        z-index: 1;
        bottom: 20px;
        left: 40px;
        height: 150px;
    }

    &__card-date {
        color: #FFF;
        font-size: 21px;
        font-weight: 400;
        line-height: 26px; /* 123.81% */
        margin-bottom: 20px;
    }

    &__card-title {
        color: #FFF;
        font-size: 21px;
        font-weight: 700;
        line-height: 26px; /* 123.81% */
    }

    &__card-photo {
        position: absolute;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        transition: border-radius 0.1s ease-in;
    }
}

.research {
    padding-bottom: 120px;
    margin-bottom: 120px;
    
    &__wrapper{
        display: flex;
        align-items: center;
        gap: 60px;
    }

    &__left-wrapper {
        width: 50vw;
        border-radius: 0px 0px 5vw 0px;
    }

    &__img {
        width: 100%;
        height: 100%;
        border-radius: 0px 0px 5vw 0px;
        
    }

    &__right-wrapper {
        width: 50vw;
        padding-right: 20px;
    }

    &__titile {
        color: #1A6CB5;
        font-size: 21px;
        font-weight: 700;
        line-height: 26px; /* 123.81% */
        text-transform: uppercase;
        margin-bottom: 10px;
    }

    &__text {
        color: #FFF;
        font-size: 32px;
        font-weight: 400;
        line-height: 40px; /* 125% */
        margin-bottom: 30px;
    }

    &__btn {
        width: 95px;
        height: 56px;
        border-radius: 0px 0px 19.2px 0px;
        background: #1A6CB5;
        transition: background 0.4s ease;

        &:hover{
            background: #18609F;
        }
    }

}

.education {

    margin-bottom: 150px;

		&__wrapper {
            display: flex;
            align-items: center;
            gap: 40px
		}

		&__video {
            position: relative;
            width: 45vw;

            &::before{
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                width: inherit;
                height: 100%;
                background-color: #000;
                opacity: 0.3;
                min-height: inherit;
            }

            &::after{
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                height: 0px;
                width: 100%;
                background: #62B944;
                z-index: 5;

                transition: height 0.4s ease;
            }

            &:hover::after{
                height: 15px;
            }

            
		}

        &__video-poster{
            width: 100%;
            min-height: inherit;
        }

        &__video-title{
            position: absolute;
            left: 25px;
            bottom: 50px;
            color: #FFF;
            font-size: 21px;
            font-weight: 700;
            line-height: 26px; /* 123.81% */
            z-index: 1;
        }

        &__play {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            z-index: 2;
        }
}

.footer-cta {
    margin-bottom: 100px;

    &__title {
        margin-bottom: 30px;
    }

    &__input-wrapper {
        position: relative;
        width: 232px;

    }

    &__input {
        color: #1D1D1B;
        font-size: 14px;
        font-weight: 400;
        line-height: 26px; /* 185.714% */
        border-bottom: 1px solid #1D1D1B;
        padding-bottom: 14px;
        width: inherit;
        padding-right: 60px;

        
    }

    &__arrow {
        width: 25px;
        height: 10px;
        background: url('../img/main__cta-arrow-long.svg');
        background-position: right;
        position: absolute;
        top: 40%;
        transform: translate(0, -50%);
        right: 5px;
        transition: width 0.4s ease;
    }
    &__input-wrapper:hover &__input{
        border-bottom: 1px solid #383838;
        color: #383838;
    }

    &__input-wrapper:hover &__arrow{
        
        width: 45px;
    }
}

.footer-devider {
    width: 100%;
    height: 1px;
    background: #1D1D1B;
    margin-bottom: 100px;
}

.footer {

    &__top-row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 140px;
        gap: 40px;
    }

    &__logo {
        width: 294px;
    }

    &__menu {
        display: flex;
        align-items: flex-start;
        width: 784px;
        gap: 20px;
        justify-content: space-between;
    }

    &__menu-block {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    &__menu-item {
        color: #1D1D1B;
        font-size: 17px;
        font-weight: 400;
        line-height: 26px; /* 152.941% */

        &:hover {
            color: #1A6CB5;
            text-decoration-line: underline;
        }
    }

    &__arrow-up {
        
    }

    &__arrow-up-bg{
        width: 50px;
        border-radius: 50%;
        background-color: #1D1D1B;

        &:hover{
            background-color: #4D4D48;
        }
    }

    &__bottom-row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 40px;
        gap: 60px;
    }

    &__copy {
        color: #1D1D1B;
        font-size: 14px;
        font-weight: 400;
        line-height: 24px; /* 171.429% */
        min-width: 120px;
    }

    &__links {
        display: inline-flex;
        width: 630px;
        gap: 20px;
        justify-content: space-between;
        
    }

    &__link {
        color: #1D1D1B;
        font-family: Montserrat;
        font-size: 15px;
        font-weight: 400;
        line-height: 15px; /* 100% */

        &:hover {
            color: #1A6CB5;
            text-decoration-line: underline;
        }
    }

    &__social-block {
        min-width: 160px;
    }

    &__social-item-block {
        display: inline-block;
        background-color: #1D1D1B;
        border-radius: 50%;
        &:hover {
            background-color: #4D4D48;
        }
    }

    
}

.menu {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #62B944;
    overflow-x: hidden;
    
    z-index: 1000;
    overflow-y: auto;

    &__modal {
        display: flex;
        justify-content: space-between;
        gap: 60px;
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-height: 100vh;
    }

    &__logo {
        padding: 25px 0 0 50px;
        margin-bottom: 75px;
    }

    &__img {
        background-color: #62B944;
        background: no-repeat url('../img/menu-img.jpg');
        background-size: cover;
        width: 768px;
        border-radius: 0 0 0 5vw;
        overflow: hidden;
        background-position: center;
        position: relative;

        &::after{
            content: "";
            position: absolute;
            display: block;
            width: 100%;
            height: 271px;
            background-color: #000;
            opacity: .5;
            bottom: 0;
            left: 0;
            border-top: 1px solid white;
            border-radius: inherit;
        }
    }

    &__nav-block {
        padding-left: 160px;
        display: flex;
        gap: 70px;
    }

    &__nav-block-wrapper {
        display: flex;
        flex-direction: column;
        gap: 25px;
        
    }

    &__nav-item {
        color: #1D1D1B;
        font-size: 24px;
        font-weight: 400;
        line-height: 25px; /* 104.167% */

        &:hover {
            color: #FFF;
            text-decoration-line: underline;
        }
    }


    &__bottom-block {
        margin-top: 160px;
        margin-bottom: 100px;
    }

    &__bottom-wrapper{
        display: flex;
        width: 780px;
        padding-left: 160px;
        justify-content: space-between;
        flex-wrap: wrap;
        position: relative;
        &::before{
            content: "";
            position: absolute;
            top: -60px;
            left: 0px;
            width: 99vw;
            background: #000;
            height: 1px;
        }

    }


    &__social-block {
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        gap: 10px;
        width: 170px;
    }

    &__social-item-block {
        background-color: #1D1D1B;
        border-radius: 50%;
        &:hover {
            background-color: #4D4D48;
        }
    }

    &__cta-block {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        position: relative;

    }

    &__cta-title {
        margin-bottom: 30px;
    }

    &__cta-input-wrapper {
        position: relative;
        width: 232px;
    }

    &__cta-input {
        color: #fff;
        font-size: 14px;
        font-weight: 400;
        line-height: 26px; /* 185.714% */
        border-bottom: 1px solid #FFFFFF;
        padding-bottom: 14px;
        width: inherit;
        padding-right: 60px;

        &::placeholder {
            color: #FFF;
        }
    }

    &__cta-arrow {
        width: 25px;
        height: 10px;
        background: url('../img/menu__arrow-long.svg');
        background-position: right;
        position: absolute;
        top: 40%;
        transform: translate(0, -50%);
        right: 5px;
        /* transition: width 0.4s ease; */
    }

    
    &__cta-input-wrapper:hover &__cta-arrow{
        background: url('../img/menu__arrow-long-gray.svg');
        width: 45px;
    }

    &__cta-input-wrapper:hover &__cta-input{
        border-bottom: 1px solid #D8D8D8;
        color: #D8D8D8;
    }
    &__cta-input-wrapper:hover &__cta-input::placeholder {
        color: #D8D8D8;
    }

    &__close {
        width: 65px;
        height: 65px;
        position: absolute;
        top: 30px;
        right: 30px;
        cursor: pointer;
    }

}

/* Страница о компании */

.page-header {
    padding-top: 20px;
    margin-bottom: 96px;
}

.o-kompanii {

    &__title {
        margin-bottom: 40px;
    }

    &__wrapper {
        display: flex;
        align-items: center;
        gap: 60px;
    }

    &__img {
        border-radius: 0 0 5vw 0;
    }


    &__text {
        width: 50vw;
        color: #1D1D1B;
        font-size: 32px;
        font-weight: 400;
        line-height: 50px; /* 156.25% */
        padding-right: 20px;
    }
}



.natural-agriculture {

    text-align: center;
    margin-bottom: 120px;
    margin-top: -80px;

    &__bg {
        background-color: #E5EDE9;
        margin-left: 4vw;
        display: flex;
        align-items: center;
        border-radius: 0 0 0 10vw;
    }

    &__title {
        padding-top: 190px;
        color: #1A6CB5;
        font-size: 21px;
        font-weight: 700;
        line-height: 28px;
        margin-bottom: 17px;
    }

    &__text {
        color: #000;       
        font-size: 32px;
        font-weight: 400;
        line-height: 40px; /* 137.931% */
        margin-bottom: 45px;
        max-width: 1115px;
    }

    &__img {
        width: 597px;
    }
}


.resources {
    margin-bottom: 120px;

    &__title {
        margin-bottom: 40px;
    }

    &__wrapper {
        display: flex;
        align-items: center;
        gap: 60px;
    }

    &__img {
        border-radius: 0 0 0 5vw;
    }


    &__text {
        width: 50vw;
        color: #1D1D1B;
        font-size: 32px;
        font-weight: 400;
        line-height: 50px; /* 156.25% */
        padding-left: 50px;
    }
}

.stable-production {
    margin-bottom: 120px;

    &__wrapper {
        display: flex;
        align-items: center;
        gap: 60px;
    }

    &__img {
        border-radius: 0 0 5vw 0;
    }

    &__text {
        width: 50vw;
        color: #1D1D1B;
        font-size: 32px;
        font-weight: 400;
        line-height: 50px; /* 156.25% */
        padding-right: 20px;
    }
}

.gallery {
    margin-bottom: 200px;
    &__card {
        width: 800px;
        margin-right: 20px;
    }

}


/* Страница каталог */

.category {
    margin-bottom: 120px;

    &__title {
        color: #1D1D1B;
        font-size: 48px;
        font-weight: 400;
        line-height: 64px; /* 133.333% */
        margin-bottom: 50px;
    }

    &__cards {
        display: grid;
        grid-template-columns: 1fr 1fr;
        row-gap: 40px;
        column-gap: 60px;
    }

    &__img-block {
        margin-bottom: 20px;
        border-radius: 0 0 5vw 0;
        overflow: hidden;
    }

    &__img {
        transition: all 0.4s ease;
    }

    &__card:hover &__img {
        transform: scale(1.2);
    }

    &__block-title{
        color: #292927;
        font-size: 24px;
        font-weight: 400;
        line-height: 40px; /* 166.667% */
    }
}


/* Страница корректоры питания */

.category-page {

    margin-bottom: 120px;

    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 30px;
    }

    &__title-block {
        padding-left: 50px;
        max-width: 730px;
    }

    &__title {
        color: #1D1D1B;
        font-size: 48px;
        font-weight: 400;
        line-height: 64px; /* 133.333% */
        margin-bottom: 30px;
    }

    &__text {
        color: #1D1D1B;
        font-size: 17px;
        font-weight: 400;
        line-height: 28px; /* 164.706% */
    }

    &__img-block {
        overflow: hidden;
        border-radius: 0 0 0 5vw;
    }

}

.catalog {
    margin-bottom: 120px;

    &__wrapper {
        display: flex;
        align-items: flex-start;
        gap: 60px;
    }

    &__filters {
        background-color: #1D1D1B;
        padding: 40px 30px 50px 40px;
        border-radius: 0 5vw 0 0;
        max-width: 24%;
        min-width: 290px;
        position: sticky;
        top: 30px;
    }

    &__filters-title {
        color: #FFF;
        font-size: 21px;
        font-weight: 500;
        line-height: 28px; /* 133.333% */
        margin-bottom: 30px;
    }

    &__filters-block {
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-bottom: 80px;
    }

    &__filter-item {
        display: flex;
        align-items: center;
        gap: 13px;
    }

    &__filter-input-block{
        min-width: 24px;
        min-height: 24px;
        position: relative;
        border-radius: 1px;
        background: #FFF;
    }

    &__filter-fake-input {
        position: absolute;
        left: 3px;
        top: 3px;
        min-width: 18px;
        min-height: 18px;
        background: #62B944;
        border-radius: 1px;
        opacity: 0;
        transition: opacity 0.4s ease;
    }

    &__filter-input:checked + &__filter-fake-input {
        opacity: 1;
    }

    &__filter-input {
        display: none;
    }

    &__filter-label {
        color: #FFF;
        font-size: 17px;
        font-weight: 400;
        line-height: 28px; /* 164.706% */
    }

    &__filters-button {
        border-radius: 0px 0px 19px 0px;
        background-color: #1A6CB5;
        width: 100%;
        height: 56px;
        color: #FFF;
        font-size: 17px;
        font-weight: 400;
        line-height: 28px; /* 164.706% */
        display: flex;
        align-items: center;
        justify-content: center;
        transition: background-color .4s ease;

        &:hover {
            background-color: #18609F;
        }
    }

    &__btn-img {
        padding-left: 20px;
    }

    &__cards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 50px;
    }

    &__card {
        background-color: #F6F6F6;
        border-radius: 0 5vw 0 0;
        padding: 52px 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 15px;
    }

    &__card-img-block {
        width: 100%;
        height: 100%;
    }

    &__card-img {
        transition: transform 0.4s ease;
    }

    &__card-item:hover &__card-img{
        transform: scale(115%)
    }

    &__card-descr {
        color: #292927;
        font-size: 17px;
        font-weight: 400;
        line-height: 40px; /* 235.294% */
        margin-bottom: 5px;
    }

    &__card-green-descr {
        color: #62B944;
        font-size: 19px;
        font-weight: 400;
        line-height: 26px; /* 136.842% */
    }
}


/* Страница карточка товара */

.product {
    margin-bottom: 120px;

    &__back-btn {
        display: inline-flex;
        align-items: center;
        gap: 15px;
        margin-bottom: 40px;
    }

    &__back-btn:hover &__back-btn-icon-bg {
        background-color: #62B944;;
    }

    &__back-btn-icon-bg{
        width: 60px;
        height: 60px;
        border-radius: 50%;
        border: 1px solid #62B944;
    }

    &__back-btn-icon {
       
    }

    &__back-btn-text {
        font-weight: 400;
        font-size: 28px;
        line-height: 100%;
        color: #1d1d1b;
    }

    &__wrapper {
        display: flex;
        align-items: flex-start;
        gap: 160px;
    }

    &__img-block {
        flex: 0 1 35%;
        padding: 30px;
        background-color: #F6F6F6;
        overflow: hidden;
        border-radius: 0 5vw 0 0;
        max-height: 530px;
        position: sticky;
        top: 20px;
        min-width: 330px;

    }

    &__img {
    }

    &__info-wrapper {
        flex: 0 1 65%;
        max-width: 730px;
    }

    &__descr-block {
        margin-bottom: 100px;
    }

    &__name {
        font-weight: 400;
        font-size: 48px;
        line-height: 167%;
        color: #000;
        margin-bottom: 30px;
    }

    &__blue-description {
        font-weight: 700;
        font-size: 17px;
        line-height: 153%;
        text-transform: uppercase;
        color: #1a6cb5;
        margin-bottom: 30px;
    }

    &__description {
        font-weight: 400;
        font-size: 17px;
        line-height: 165%;
        color: #1d1d1b;
        margin-bottom: 50px;
    }

    &__btn {
        width: 350px;
        height: 56px;
        background-color: #1A6CB5;
        border-radius: 0 0 19px 0;  
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        font-weight: 400;
        font-size: 17px;
        line-height: 165%;
        color: #fff;
        transition: background-color .4s ease;

        &:hover{
            background-color: #18609F;
        }
    }

    &__title-h3 {
        font-weight: 600;
        font-size: 36px;
        line-height: 122%;
        color: #1d1d1b;
        margin-bottom: 40px;
        
    }

    &__btn-img {
    }

    &__advantages-block {
        margin-bottom: 100px;
    }

    &__advantages-items {
        display: flex;
        flex-direction: column;
        gap: 19px;
    }

    &__advantages-item {
        display: flex;
        align-items: center;
        gap: 14px;
    }

    &__advantages-icon {
        display: inline-block;
        min-width: 12px;
        min-height: 12px;
        border-radius: 50%;
        background-color: #62B944;
    }

    &__advantages-text {
        font-weight: 400;
        font-size: 15px;
        line-height: 187%;
        color: #1d1d1b;
    }

    &__compound-block {
        margin-bottom: 100px;
    }

    &__compound-items {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    &__compound-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 5px;
        border-bottom: 1px solid #C5C5C5;
    }

    &__compound-name {
        font-weight: 500;
        font-size: 16px;
        line-height: 162%;
        color: #6b6b6b;
    }

    &__compound-value {
        font-weight: 500;
        font-size: 16px;
        line-height: 162%;
        text-align: right;
        color: #1d1d1b;
    }

    &__dosages-text {
        font-weight: 600;
        font-size: 17px;
        line-height: 165%;
        color: #1d1d1b;
        margin-bottom: 15px;
    }
}

.product-recommendtaions {
    margin-bottom: 150px;
    position: relative;

    &__cards {
        display: grid;
        row-gap: 20px;
        column-gap: 40px;
        grid-template-columns: 1fr 1fr 1fr;

    }

    &__card {
        padding: 30px;
        background-color: #F6F6F6;
        margin-right: 20px;
        border-radius: 0 5vw 0 0;
        position: relative;
        

        &::after {
            content: "";
            display: block;
            position: absolute;
            bottom: 0px;
            left: 0px;
            width: 100%;
            height: 0px;
            max-height: 0px;
            background: #62B944;
            transition: all 0.4s ease;
        }

        &:hover::after{
            height: 15px;
            max-height: 15px;
        }
    }

    &__card-subtitle {
        color: #62B944;
        font-size: 16px;
        font-weight: 400;
        line-height: 26px; /* 162.5% */
    }

    &__card-title {
        color: #292927;
        font-size: 33px;
        font-weight: 400;
        line-height: 40px; /* 121.212% */
        margin-bottom: 23px;
        height: 80px;
    }

    &__card-img {
        display: block;
        margin: 0 auto;
    }
}


/* Страница Результаты применения */
.specialists {

    text-align: center;
    margin-bottom: 120px;
    margin-top: -80px;

    &__bg {
        background-color: #E5EDE9;
        margin-left: 4vw;
        display: flex;
        align-items: center;
        border-radius: 0 0 0 10vw;
    }

    &__text {
        padding-top: 190px;
        color: #000;       
        font-size: 32px;
        font-weight: 400;
        line-height: 40px; /* 137.931% */
        margin-bottom: 45px;
        max-width: 1115px;
    }

    &__img {
        width: 597px;
    }
}

.results {

    &__title {
        margin-bottom: 40px;
    }

    &__wrapper {
        display: flex;
        align-items: center;
        gap: 160px;
    }

    &__img {
        border-radius: 0 0 5vw 0;
    }


    &__text {
        max-width: 540px;
        color: #1D1D1B;
        font-size: 32px;
        font-weight: 400;
        line-height: 50px; /* 156.25% */
        padding-right: 20px;
    }
}

.experience {
    margin-bottom: 120px;

    &__cards {
        display: flex;
        gap: 40px;
    }

    &__card {
        box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.25);
        border-radius: 0px 50px 0px 0px;

    }
}





/* Медиа запросы */

@media (max-width: 1850px){
    .header {
        max-width: unset;
        width: 90%;
        gap: 15px;
        padding: 0 15px;
        &__menu{
            display: none;
        }
    }

    .page-header {
        width: 100%;
        padding: 20px 0 0 0;
    }
}

@media (max-width: 1630px) {
    .advantages {

        &__title {
            text-align: center;
        }
        &__cards {
            justify-content: center;
            gap: 60px;
        }
        &__card {
            max-width: 500px;
        }
    }
}

@media (max-width: 1500px){

    .header{
        &__logo {
            width: 300px;
        }
    }
    .first-window {
        &__title{
            font-size: 45px;
            line-height: 130%;
        }

        &__title-img{
            width: 100px;
        }

        &__logo-atlantica {
            width: 160px;
        }
    }
    .slick-prev, .slick-next {
        width: 45px;
        height: 45px;
        bottom: -70px;
    }

    .slick-prev {
        right: 75px;
    }

    .recommendations {

        &__card-title {
            font-size: 20px;
            line-height: unset;
            height: 50px;
        }

        &__card-subtitle {
            font-size: 16px;
            line-height: unset;
            height: 52px;
        }
    }

    .news {
        &__card {
            width: 390px;
            height: 390px;
        }

        &__card-title-wrapper {
            left: 20px;
            bottom: -5px;
        }
    }

    .o-kompanii {
        &__text {
            font-size: 26px;
            line-height: unset;
        }
    }

    .results {
        &__text {
            font-size: 26px;
            line-height: unset;
        }
    }

    .resources {
        &__text {
            font-size: 26px;
            line-height: unset;
        }
    }

    .stable-production {
        &__text {
            font-size: 26px;
            line-height: unset;
        }
    }

    .natural-agriculture {
        margin-top: -40px;   
        &__text{
            font-size: 26px;
        }
    }

    .specialists {
        margin-top: -40px;   
        &__text{
            font-size: 26px;
        }
    }



    .catalog {
        &__filters {
            padding-left: 20px;
        }
    }

    .product {
        &__wrapper {
            gap: 60px;
        }
    }

    .product-recommendtaions {
        &__card-title {
            font-size: 20px;
            line-height: unset;
            height: 50px;
        }

        &__card-subtitle {
            font-size: 16px;
            line-height: unset;
            height: 52px;
        }
    }

    .results {
        &__wrapper {
            gap: 60px;
        }
    }
}

@media (max-width: 1200px) {

    .page-header {
        margin-bottom: 60px;
    }
    .welcome-agromir {

        &__title {
            padding-top: 100px;
        }
        &__text{
            font-size: 22px;
            line-height: unset;
            margin-bottom: 60px;
        }

        &__img {
            width: 400px;
        }
    }

    .advantages {

        &__card {
           max-width: 390px;
        }
    }

    .research{

        &__text {
            font-size: 22px;
            line-height: unset;
        }
    }

    .education{
        &__play {
            width: 50px;
        }

        &__video-title{
            font-size: 18px;
            line-height: unset;
            bottom: 20px;
        }
    }

    .footer{
        &__top-row{
            flex-wrap: wrap;
        }

        &__bottom-row{
            flex-wrap: wrap-reverse;
        }

        &__links{
            flex-wrap: wrap;
        }

        &__menu {
            flex-wrap: wrap;
        }
    }

    .menu {

        &__bottom-wrapper {
            flex-direction: column;
        }

        &__nav-block {
            flex-direction: column;
            gap: 25px;
        }

        &__modal {
            flex-direction: column;
        }

        &__img {
            display: none;
            width: 100%;
            height: 30vh;
            border-radius: 0;
        }

        &__close {
            width: 30px;
            height: 30px;
        }
    }

    .o-kompanii {
        &__text {
            font-size: 22px;
        }
    }

    .results {
        &__text {
            font-size: 22px;
        }
    }

    .resources {
        &__text {
            font-size: 22px;
        }
    }

    .stable-production {
        &__text {
            font-size: 22px;
        }
    }

    .natural-agriculture {
        margin-top: 60px;
        &__bg{
            margin-left: 0;
        }
        &__title{
            padding-top: 60px;
        }
        &__text {
            font-size: 22px;
            line-height: unset;
        }

        &__img{
            width: 400px;
        }
    }

    .specialists {
        margin-top: 60px;
        &__bg{
            margin-left: 0;
        }
        
        &__text {
            padding-top: 60px;
            font-size: 22px;
            line-height: unset;
        }

        &__img{
            width: 400px;
        }
    }

    .category-page {

       &__wrapper {
        flex-direction: column;
       }

       &__img {
            width: 100vw;
            min-height: 220px;
            max-height: 350px;
       }
    }

    .catalog {
        &__cards {
            grid-template-columns: 1fr 1fr;
        }
    }

    .product {
        &__name{
            font-size: 36px;
            margin-bottom: 30px;
        }

        &__title-h3 {
            font-size: 32px;
            margin-bottom: 30px;
        }

        &__blue-description {
            font-size: 16px;
        }

        &__back-btn-icon-bg {
            width: 40px;
            height: 40px;
        }

        &__back-btn-text {
            font-size: 22px;
        }
    }

}

@media (max-width: 960px) {

    .container {
        &_product {
            padding-left: 50px;
        }
    }

    .header {
        &__logo {
            width: 200px;
        }
    }

    .title-h2{
        font-size: 30px;
    }
    .first-window {
        &__title{
          font-size: 30px;
        }

        &__title-img{
           padding: 0;
           margin: 0 15px;
        }

        &__logo-atlantica {
            width: 120px;
        }
    }

    .welcome-agromir {
        &__bg {
            margin-left: 0;
        }
    }

    .consultation {
        
        &__form {
            flex-direction: column;
            align-items: center;
            gap: 20px;
        }

        &__form-wrapper {
            width: 390px;
        }

        &__privacy {
            display: none;
            text-align: center;
        }

        &__privacy_mobile {
            display: block;
        }
    }

    .advantages {

        &__title{
            text-align: left;
        }

        &__card {
           max-width: 90vw;
        }
    }

    .system-nutrition {
        &__cards {
            flex-direction: column;
        }

        &__card-img-wrapper {
            margin-bottom: 20px;
        }

        &__card {
            width: 390px;
        }

        &__card-title {
            font-size: 18px;
        }
    }

    .title-h2-wrapper {
        flex-wrap: wrap;
        gap: 15px;
    }

    .recommendations {
        &__card {
            width: 280px;
        }
    }

    .research{
        padding-bottom: 0;

      &__wrapper{
        flex-direction: column-reverse;
      }

      &__left-wrapper{
        width: 100vw;
        height: 45vw;
        min-height: 220px;
      }

      &__right-wrapper{
        width: unset;
        padding-left: 50px;
        
      }
    }

    .black-section {
        border-radius: 0px 0px 5vw 0px;
    }

    .education{

        &__wrapper{
            flex-direction: column;
        }

        &__video {
            width: 100%;
        }
    }

    .o-kompanii {

        &__wrapper {
            flex-direction: column;
            gap: 30px;
        }

        &__img{
            
            width: 100vw;
            min-height: 220px;
            max-height: 400px;
        }
        &__text {
            width: unset;
            font-size: 22px;
            padding: 0 20px 0 50px;
        }
    }

    .results {

        &__wrapper {
            flex-direction: column;
            gap: 30px;
        }

        &__img{
            
            width: 100vw;
            min-height: 220px;
            max-height: 400px;
        }
        &__text {
            width: unset;
            font-size: 22px;
            padding: 0 20px 0 50px;
        }
    }

    .resources {
        &__wrapper {
            flex-direction: column-reverse;
            gap: 30px;
        }

        &__img{
            width: 100vw;
            min-height: 220px;
            max-height: 350px;
        }
        &__text {
            width: unset;
            font-size: 22px;
            padding: 0 20px 0 50px;
        }
    }

    .stable-production {
        &__wrapper {
            flex-direction: column;
            gap: 30px;
        }

        &__img{
            
            width: 100vw;
            min-height: 220px;
            max-height: 400px;
        }
        &__text {
            width: unset;
            font-size: 22px;
            padding: 0 20px 0 50px;
        }
    }

    .gallery {
        &__card {
            width: 400px;
        }
    }

    .category {

        &__title {
            font-size: 36px;
            margin-bottom: 40px;
            line-height: unset;
        }
        &__block-title {
            font-size: 20px;
            line-height: unset;
        }
    }
    .category-page {
        &__title {
            font-size: 36px;
            line-height: unset;
        }
    }


    .catalog {
        &__wrapper {
            flex-direction: column;
        }

        &__filters {
            position: static;
            max-width: unset;
            min-width: unset;
            width: 100%;
        }

        &__filters-block {
            display: grid;
            grid-template-columns: 1fr 1fr;
            margin-bottom: 50px;
        }

        &__filters-button {
            width: 300px;
        }

        &__cards {
            grid-template-columns: 1fr 1fr 1fr;
        }

        &__card{
            padding: 30px;
        }
    }

    .product {
        &__wrapper {
            flex-direction: column;
        }

        &__img-block {
            position: static;
            min-width: unset;
            max-height: unset;
            width: 300px;
        }
    }

    .product-recommendtaions {
        &__cards{
            grid-template-columns: 1fr 1fr;
        }
    }

    .results {
        &__wrapper {
            align-items: flex-start;
        }
        &__text {
            max-width: unset;
        }
    }

    .experience { 
        &__cards {
            flex-wrap: wrap;
            justify-content: center;
        }

        &__card{
            width: 280px;
        }

    }

}



@media (max-width: 640px) {
    .container {
        padding: 0 20px;
    }

    .container-first-window {
        padding: 20px 20px 0 20px;
    }

    .header {
        &__logo {
            width: 160px;
        }

    }

    .title-h2{
        font-size: 26px;
    }
    .first-window {

        &__content {
            width: 320px;
        }
        &__title {
            font-size: 26px;
        }

        &__title-img {
            width: 80px;
        }
        &__logo-atlantica {
            width: 100px;
        }
    }

    .welcome-agromir {

      
        &__text{
            font-size: 18px;
        }

        &__img {
            width: 240px;
        }
    }

    .advantages {

        &__card-img{
            max-width: 90px;
        }

    }

    .footer{
        &__top-row{
            flex-direction: column;
            align-items: flex-start;
            margin-bottom: 60px;
        }

        &__logo{
            width: 260px;
        }

        &__links{
            flex-direction: column;
            
        }

        &__menu {
            flex-direction: column;
            width: unset;
        }
    }

    .menu {
        &__modal {
            gap: 0;
        }
        &__nav-block{
            padding-left: 50px;
        }

        &__bottom-wrapper{
            padding-left: 50px;
        }
    }

    .o-kompanii {
        &__text {
            padding-left: 20px;
        }
    }

    .results {
        &__text {
            padding-left: 20px;
        }
    }

    .resources {
        margin-bottom: 60px;
        &__text {
            padding-left: 20px;
        }
    }

    .stable-production {
        margin-bottom: 60px;
        &__text {
            padding-left: 20px;
        }
    }
    .natural-agriculture {
        margin-bottom: 60px;
        &__text{
            font-size: 22px;
        }

        &__img{
            width: 240px;
        }
    }

    .specialists {
        margin-bottom: 60px;
        &__text{
            font-size: 22px;
        }

        &__img{
            width: 240px;
        }
    }

    .category {

        &__title {
            font-size: 30px;
        }

        &__cards {
            grid-template-columns: 1fr;
        }
    }

    .category-page {
        &__title {
            font-size: 30px;
        }

        &__title-block {
            padding-left: 0;
        }
    }

    .catalog {
        &__filters-block {
            grid-template-columns: 1fr;
        }

        &__cards {
            grid-template-columns: 1fr 1fr;
        }
    }

    .product-recommendtaions {
        &__cards{
            grid-template-columns: 1fr;
        }

        &__card-subtitle {
            height: unset;
            margin-bottom: 12px;
        }

        &__card-title {
            height: unset;
        }
    }
}

@media (max-width: 480px) {
    .consultation {
        &__form-wrapper {
            max-width: 300px;
        }
    }

    .system-nutrition {

        &__cards {
            align-items: center;
        }
        &__card {
            width: 280px;
        }
    }

    .news {
        &__card {
            width: 280px;
            height: 280px;
        }
        &__card-title-wrapper{
            height: unset;
            bottom: 15px;
        }

        &__card-date {
            font-size: 17px;
            margin-bottom: 10px;
        }

        &__card-title{
            font-size: 18px;
        }
    }

    .research {
        &__text {
            font-size: 18px;
        }

        &__right-wrapper {
            padding-left: 15px;
        }
    }

    .footer-cta{

        &__title {
            font-size: 22px;
        }
    }

    .menu {

        &__nav-item{
            font-size: 18px;
        } 
        &__logo {
            padding-left: 10px;
            width: 250px;
            margin-bottom: 50px;
        }
    
        &__nav-block{
            padding-left: 10px;
        }

        &__bottom-wrapper{
            padding-left: 10px;
        }

        &__cta-title {
            font-size: 22px;
        }
    }

    .o-kompanii {

        &__text {
            font-size: 18px;
        }
    }

    .results {

        &__text {
            font-size: 18px;
        }
    }

    .natural-agriculture {
        &__text{
            font-size: 18px;
        }
    }

    .specialists {
        &__text{
            font-size: 18px;
        }
    }

    .resources {
        &__text {
            font-size: 18px;
        }
    }

    .stable-production {
        &__text {
            font-size: 18px;
        }
    }

    .gallery {
        &__card {
            width: 280px;
        }
    }

    .catalog { 
        &__cards {
            grid-template-columns: 1fr;
        }

        &__filters-button {
            width: 100%;
        }
    }

    .product {
        &__title-h3 {
            font-size: 28px;
            margin-bottom: 20px;
        }
        
        &__name {
            font-size: 30px;
        }

        &__btn {
            width: 100%;
        }
    }
}

@media (max-width: 390px) {
   .product {
        &__compound-item{
            flex-direction: column;
            align-items: flex-start;
        }
   }
}

